.center{
  justify-content: center;
  display: flex;
}


.bloc-width{
  @media screen and (max-width: 600px) {
   width: 100%;
   margin-top: 100px;
  }
  @media screen and (min-width: 600px) {
    max-width: 500px;
   margin-top: 250px;
   min-width: 350px;
   }
}



