.limite{
  border:  1px solid black;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 100px;

}
.center{
  justify-content: center;
  display: flex;
}
.top{
  margin-top: 20px;
  margin-bottom: 20px;
}
