<h1>LIST FOURNISSUERS</h1>
<button routerLink="/admin/add-fournisseur"> Add</button>
<div *ngFor="let f of fournisseurs">
  <mat-card class="example-card" style="margin :20px ;border: 1px solid">

    <mat-card-header>

      <mat-card-title>Nom : {{f.nom}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="" alt="">
    <mat-card-content>
      <mat-card-title>Email : {{f.email}}</mat-card-title>
      <mat-card-title>Telephone : {{f.telephone}}</mat-card-title>
      <mat-card-title>Adresse : {{f.adresse}}</mat-card-title>
      <mat-card-title>Logo : {{f.logo}}</mat-card-title>
    </mat-card-content>
    <mat-card-actions>
      <button  (click)="editFournisseur(f.idFournisseur)">Edit</button>
      <button  (click)="deleteFournisseur(f.idFournisseur)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

