
.reset-class {
  display: flex;
}

.contenu {
justify-content: s;
}

.one {
  display: flex;
}
.width-25 {

  width: 25%;

}
.padding-25 {
  height: 25%;
  margin:  25px;
}

.example-sidenav {
  height: 100vh;
}

.mrgin{
  margin-left: 5px;
  margin-right: 5px;
}


mat-panel-title{
  cursor:pointer
}
