<button mat-button (click)="addFournisseur()">Add Fournisseur</button>
<div *ngFor="let fournisseur of fournisseurs">
  <mat-card class="example-card" style="margin :20px ;border: 1px solid">
    <mat-card-header>

      <mat-card-title>{{fournisseur.nom}}</mat-card-title>

    </mat-card-header>
    <img mat-card-image src="" alt="Photo of">
    <mat-card-content>

      <h5 class="card-title">{{fournisseur.email}}</h5>
      <h5 class="card-title">{{fournisseur.telephone}}</h5>
      <h5 class="card-title">{{fournisseur.adresse}}</h5>
      <h5 class="card-title">{{fournisseur.logo}}</h5>
      <h5 class="card-title">{{fournisseur.produits}}</h5>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="editFournisseur(fournisseur?.idFournisseur)">Edit</button>
      <button mat-button (click)="deleteFournisseur(fournisseur.idFournisseur)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
