<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div class="menu ">
      <div style="width:100% " style="background-color: blue; ">
        xxxxx
      </div>
      <div style="width:100% " style="background-color: yellow; ">
        Dashbord
      </div>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content example-sidenav">
    <div class="bloc ">
      <div class="navbar " style="display: flex;">
        <div style="width: 100%;">
          <mat-toolbar>
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
              aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>

            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon"
              aria-label="Example icon-button with search icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <input placeholder="search">

          </mat-toolbar>
        </div>
        <div style="width: 0%;">
          <mat-form-field appearance="fill" style="display: flex;justify-content: end">

            <mat-select #mode value="side">
              <mat-option value="side">English</mat-option>
              <mat-option value="over">Deutsch</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div style=>
          <img src="" alt="">
        </div>
      </div>
      <div class="contenu  ">
        <div class="one ">
          <div class="width-25  ">
            <div class=" padding-25">
              <mat-card>
                xxxx
              </mat-card>
            </div>

          </div>
          <div class="width-25  ">
            <div class=" padding-25">
              <mat-card>
                xxxx
              </mat-card>
            </div>
          </div>
          <div class=" width-25  ">
            <div class=" padding-25">
              <mat-card>
                xxxx
              </mat-card>
            </div>
          </div>
          <div class=" width-25  ">
            <div class=" padding-25">
              <mat-card>
                xxxx
              </mat-card>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</mat-drawer-container>
